@media screen and (min-width:740px) {
    .hide {
        display: block;
        /* background-color: blue; */
    }

    #burguer {
        display: none;
    }

    .grid-members {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    #title {
        font-size: 1em;
    }

    nav {
        grid-column: auto;
        padding: 0.1em;
        background-color: white;
    }

    nav a {
        text-decoration: none;
        font-size: 1em;
        color: black;
    }

    nav li:hover {
        background-color: rgb(200, 200, 200);
        font-size: larger;
    }

    nav li {
        display: flex;
        border: none;
        margin: 0;
        padding: 0.5em;

    }

    nav ul {
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        gap: 1em;
        padding: 0;

    }

    #home-members {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.3em;
    }

    #home-container {
        grid-template-columns: 2fr 1fr 1fr;
    }

    #home-members section:last-of-type {
        display: none;
    }

    header {
        grid-template-columns: 1fr 2.5fr 3fr;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1em;

    }

    footer div:last-of-type {
        justify-self: end;
    }

    .card-header {
        height: 67px;
    }

    #join-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .join-section:first-of-type {
        grid-column: 1/4;
    }

    .join-section:nth-of-type(3) {
        grid-column: 2/4;
        display: block;
    }

    dialog {
        max-width: 60%;
    }
    .question{
        display: none;
    }
    .current{
        border-bottom: 4px solid orange;
        /* padding-bottom: 0.3em; */
    }
    #discovery-container{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1em;
    }
    #discovery-container section{
        grid-template-columns: 1fr 2fr;
    grid-template-areas: 
    "photo title"
    "photo address"
    "photo description"
    /* "photo description" */
    ;
    /* background-color: aqua; */
}


}

@media screen and (min-width:1000px) {

    #title {
        font-size: 2em;
    }

    .grid-members {
        grid-template-columns: 1fr 1fr 1fr;
    }
     

    #home-members {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #home-members section:last-of-type {
        display: grid;
    }
    #discovery-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    #discovery-container section{
        grid-template-columns: 1fr 3fr;
     }
     #discovery-container img{
        align-self: center;
        width: 8em;
    }
}

@media screen and (min-width:1200px) {

    body {
        margin: 0 auto;
    }
}