:root {
    --primary-color: #69008f;
    --secondary-color: #fbff00;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: "Poller One", Georgia, serif;
    color: var(--secondary-color);
}

img {
    width: 100%;
    height: auto;
}

body {
    background-color: var(--primary-color);
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 2em;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    position: relative;
    margin-bottom: 2em;
}

.hide-menu {
    display: none;
}

#burguer {
    position: absolute;
    font-size: 2.5em;
    background-color: transparent;
    border: none;
    right: 5%;
    top: 70%;
}

#burguer.open::before {
    content: '❌';
}

#burguer::before {
    content: "🍔";
}

.current::after {
    content: "😼";
}



header img {
    width: 70%;
    padding: 0.5em;
}

nav a:visited {
    color: black;
}

nav {

    margin-top: 1em;
    width: 100%;
    grid-column: 1/3;
    background-color: var(--secondary-color);
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.4em;

}

nav li:nth-of-type(odd) {
    background-color: var(--secondary-color);

}

nav li {
    list-style: none;
    padding: 0.3em;
    border: 1px solid black;
    min-height: 40px;
}

nav li:hover {
    font-size: 1.3em;

}

nav ul:hover li:not(:hover) {
    opacity: 0.5;
}

a {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
}



#cat-container {
    display: grid;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 3em;
    gap: 1em;
}


.loading {
    border: 2px solid var(--secondary-color);
    display: flex;
    width: 100%;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    margin-top: 0.5em;
    background-image: url("../images/paw.png");
    background-repeat: repeat;
    background-size: 40px;
    background-color: var(--secondary-color);
    border-radius: 7px;

}





.loading::before {
    content: "😺";
    animation-name: rotating;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;


}

.kitty-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
    justify-content: center;
    align-items: center;
    background-image: url("../images/paw.png");
    background-repeat: repeat;
    background-size: 40px;
    background-color: var(--secondary-color);
    min-height: 260px;
    margin-top: 0.5em;
    border-radius: 7px;


}

.kitty-container img {
    max-height: 14em;
    width: auto;
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 0 4px 3px var(--primary-color);
    justify-self: center;
    align-self: center;
}

.primary-btn a {
    color: var(--secondary-color);
    font-size: 1.2em;
}

.secondary-btn a {
    color: var(--primary-color);
    font-size: 1.2em;
}

.button {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.3em;
    font-family: "Poller One", Georgia, serif;
    display: block;
    border: none;
    text-align: center;
    border-top: 3px solid rgba(0, 0, 0, 0.586);
    border-right: 3px solid black;
    border-bottom: 3px solid rgba(0, 0, 0, 0.682);
    border-left: 3px solid rgba(0, 0, 0, 0.336);
}

.button:hover {
    font-size: 1.4em;
    opacity: 0.9;
}

.button:active {
    opacity: 0.5;
}


.main {
    margin-top: 1em;

    width: 100%;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);

}

.secondary-btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.cat-data span {
    margin-top: 0.3em;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 0.3em;

}

.cat-field {
    font-weight: bold;
    text-align: right;
    width: 100%;
}

.cat-value {
    margin-left: 0.2em;
}

.cat-data button {
    margin-top: 0.3em;
    grid-column: 1/3;
}

.cat-data {
    position: relative;
    margin-top: 1em;
    background-color: #fbff00c7;
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid var(--primary-color);
}

dialog::backdrop {
    background-color: #69008f;
    opacity: 0.7;
}

dialog:not([open]) {
    display: none;
}

dialog[open] .favorite {
    display: none;
}

dialog {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: fixed;
}

.description {
    display: none;
}

dialog h2 {
    color: var(--primary-color);
    align-self: flex-end;
    justify-self: center;

}

dialog {
    border: none;
    max-width: 800px;
}

.cat-data span:nth-of-type(6),
.cat-data span:nth-of-type(7) {
    display: none;
}

dialog[open] span:nth-of-type(6),
dialog[open] span:nth-of-type(7) {
    display: block;
}

dialog[open] .primary-btn {
    display: none;
}

dialog .description {
    display: block;
    grid-column: 1/3;
    justify-self: center;
}

dialog .img-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#close-dialog {
    font-size: 2em;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 1;

}

#close-dialog::before {
    content: "❌";
}

.favorite {
    position: absolute;
    border: none;
    background-color: transparent;
    top: -0.6rem;
    left: -1rem;
    font-size: 2em;
}



.favorite:hover::before {
    font-size: 1.3em;
    content: "💖";
}

.favorite::before {
    content: "💟";
}

.liked::before {
    content: "💖";
}

.img-container {
    align-self: center;
    justify-self: center;
    position: relative;
}

.coloring-red {
    animation-name: coloring-red;
    animation-duration: 1s;
    animation-timing-function: linear;
}

.ocultar {
    display: none;
}

.fav-message:not(.ocultar) {
    display: flex;
    justify-content: center;
    align-items: center;

}

.fav-message {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.1em;
    font-weight: bold;
    left: 0;
    top: -5em;
    width: 100%;
    text-align: center;
    padding: 0;
    border-radius: 4px;
    height: 3em;
    border: 4px solid red;


}

.show-second {
    animation-name: show;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.bold {
    font-weight: bold;
    color: rgb(122, 179, 248);
}

.current {
    border-bottom: 4px solid var(--primary-color);
    padding: 0.1em;
}

footer {
    margin-top: 2em;
    text-align: center;
    padding-bottom: 1em;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: larger;
}

#social-media {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-bottom: 0.7em;

}

#social-media a {
    max-width: 2em;
    height: auto;
}

.mini {
    font-size: small;
}

#form-container {
    margin-top: 1em;
    padding: 1em;
}

#form-container h2 {
    margin-bottom: 1em;
}

#form-container form input[type=text],
#form-container form input[type=number],
#form-container form input[type=email],
#form-container form input[type=file] {
    min-height: 44px;
    margin-top: 0.2em;
    font-size: 1.2em;
    display: block;
    margin-bottom: 0.7em;
    width: 100%;
}

.required::after {
    content: "*";
    color: red;
}

#form-container form fieldset {
    padding: 0.6em;
}

#form-container form fieldset:not(:first-of-type) {
    margin-top: 1em;

}

#form-container form legend {
    margin: 0 0.4em 0 0.4em;
    padding: 0.5em;
    color: var(--primary-color);
    font-weight: bold;
}

#form-container form label {
    margin-top: 0.7em;
    font-weight: bold;



}

#form-container form {
    margin: 0 auto;
    background-color: var(--secondary-color);
    font-size: 1.3em;
    padding: 0.5em;
    max-width: 20em;
}

#show-data h3 {
    color: var(--primary-color);
    grid-column: 1/3;
    justify-self: center;
    margin-bottom: 0.7em;
}

#show-data::before {
    content: "🐈";
    font-size: 2em;
    animation-name: rotate-background;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0;
    top: 0.7em
}

#show-data {
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.523);
    row-gap: 0.2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
    max-width: 20em;
    margin: 0 auto;
    padding: 1em;




}

.video {
    color: red;
    margin-bottom: 0.3em;
    display: block;
}






@media screen and (max-width:340px) {

    h1 {
        font-size: 1.5em;
    }

}

@media screen and (min-width:510px) {

    #cat-container {
        grid-template-columns: 1fr 1fr;

    }

    .kitty-container {
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    dialog[open] {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }



    #cat-container h2 {
        grid-column: 1/3;
    }

    .cat-data button {
        display: block;
    }

    nav li {
        width: 100%;
        align-self: center;
        text-align: center;
        margin: 0;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav li:first-of-type {
        border-left: 2px solid var(--primary-color);
    }

    nav li:not(:first-of-type) {
        border-left: 2px solid var(--primary-color);
    }

    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }

    .hide-menu {
        display: block;
    }

    #burguer {
        display: none;
    }

}


@keyframes show {
    0% {
        display: none;
    }

    90% {
        display: block;
    }

    100% {
        display: none;
    }
}

@keyframes m-border {
    0% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}




@keyframes rotate-background {
    0% {
        transform: translateX(9em);
    }

    50% {
        transform: translateX(0);
    }

    51% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(180deg) translateX(-9em);
    }



}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes coloring-red {
    0% {
        background-color: var(--secondary-color);
        transform: rotate(0);
    }

    10% {
        transform: rotate(2deg);
    }

    20% {
        transform: rotate(-2deg);
    }

    30% {
        transform: rotate(2deg);
    }

    40% {
        transform: rotate(-2deg);
    }

    50% {
        transform: rotate(0);
        background-color: red;
    }

    100% {
        background-color: var(--secondary-color);

    }
}